<section class="discourse">
  <div id='discourse-comments'></div>
    <script type="text/javascript">
    DiscourseEmbed = { discourseUrl: 'https://codeforcroatia.org/',
                       discourseEmbedUrl: '{{ site.baseurl }}{{ post.url }}' };

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
    </script>
    <noscript>Omogućite JavaScript za pregled <a href="https://codeforcroatia.org/?ref_noscript">komentara koje pokreće Discourse.</a></noscript>
    <a href="https://codeforcroatia.org" class="dsq-brlink">komentare pruža <span class="logo-discourse">Discourse</span></a>
</section>
