<section class="discourse">
  <div id='discourse-comments'></div>

  URL test: {{ site.baseurl }}{{ post.url }}
  param-1: {{ site.baseurl }}
  param-2: {{ post.url }}

  {% if page.discourseTopicId %}
    <script type="text/javascript">
    DiscourseEmbed = { discourseUrl: '{{site.discourse-url}}',
                              topicId: {{page.discourseTopicId}},
                              discourseReferrerPolicy: 'strict-origin-when-cross-origin' };

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
    </script>
  {% else %}
    <script type="text/javascript">
    DiscourseEmbed = { discourseUrl: '{{site.discourse-url}}',
                              discourseEmbedUrl: '{{ site.baseurl }}{{ post.url }}',
                              discourseReferrerPolicy: 'strict-origin-when-cross-origin' };

    (function() {
      var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
      d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
    </script>
  {% endif %}

    <noscript>Omogućite JavaScript za pregled <a href="{{site.discourse-url}}?ref_noscript">komentara koje pokreće Discourse.</a></noscript>
    <a href="{{site.discourse-url}}" class="dsq-brlink">komentare pruža <span class="logo-discourse">Discourse</span></a>
</section>
